.draggable-component {
  background-color: white;
  box-sizing: border-box;
  border: solid 3px #666;
  color: #666;
  float: left;
  cursor: grab;
  height: 100px;
  margin: 5px;
  padding: 20px;
  width: 200px;
}