.droppable-component {
  background: #FFF;
  min-height: 110px;
  overflow: hidden;
  width: 100%;
  clear: both;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  border: dashed 3px #666;

  span {
    display: block;
    width: 100%;
    text-align: center;
    color: #666;
    font-weight: bold;
    font-size: 30px;
    padding: 40px 0;
  }
}